/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form-container {
    flex-basis: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h1, h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .date-inputs {
    display: flex;             /* This will create a flex container */
    justify-content: space-between; /* This will put space between the child items */
    align-items: center;       /* This will vertically center the items in the container */
  }
  
  .date-inputs input {
    flex: 1;                   /* This will allow the inputs to grow and take up equal space */
    margin: 0 5px;             /* This provides a little space between the inputs */
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #449d44;
  }
  
  /* Preview Container Styling */
  .preview-container {
    border-left: 2px solid #eee;
  }
  
  .preview-container h1 {
    color: #444;
    font-size: 24px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
  
    .form-container, .preview-container {
        flex-basis: 100%;
    }
  
    .preview-container {
        margin-top: 20px;
        border-left: none;
    }
  }
  