<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details Form</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h1>Job Information</h1>
            <form method="post">
                <div>
                    <label for="jobTitle">Job Title:</label>
                    <input type="text" id="jobTitle" name="jobTitle" required>
                </div>
                <div>
                    <label for="jobDescription">Job Description:</label>
                    <textarea id="jobDescription" name="jobDescription" rows="20" required></textarea>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>