<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ cv_data_constant.fullName }}'s Resume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cv.css')}}">
    <!-- Include these scripts in the <head> of your HTML -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>

<body>
    <div class="container" id="container">
        <header>
            <h1>{{ cv_data_constant.fullName }}</h1>
            <p>Email: <a href="mailto:{{ cv_data_constant.email }}">{{ cv_data_constant.email }}</a> | Phone: {{
                cv_data_constant.phoneNumber }} <br> LinkedIn:
                <a href="{{ cv_data_constant.linkedin }}" target="_blank">{{ cv_data_constant.linkedin }}</a>
            </p>
        </header>
        <div class="section" {% if not cv_data_constant.professionalSummary %}style="display:none" {% endif %}>
            <h2>Professional Summary</h2>
            <ul>
                <p>{{ cv_data_constant.professionalSummary }}</p>
            </ul>
        </div>
        <div class="section" {% if not cv_data_constant.skills %}style="display:none" {% endif %}>
            <h2>Skills</h2>
            <ul>{{ cv_data_constant.skills }}<ul>
        </div>

        <div class="section" {% if cv_data_constant.workExperiences|length==0 %}style="display:none" {% endif %}>
            <h2>Work Experience</h2>
            <div>
                {% for experience in cv_data_constant.workExperiences %}

                <h3>{{ experience.companyName }} | {{ experience.position }} | {{ experience.city }}</h3>
                <p>Period: {{ experience.startMonth }}/{{ experience.startYear }} to
                    {% if experience.currentWorking == "working" %}
                    Present
                    {% else %}
                    {{ experience.endMonth }}/{{ experience.endYear }}
                    {% endif %}
                </p>
                <!-- Converting descriptions with newlines into a bulleted list -->
                <ul>

                    {% set lines = experience.description.split('*') %}
                    {% for line in lines %}
                    <div class="job-entry section">
                        <li>{{ line }}</li>
                    </div>
                    {% endfor %}

                </ul>

                {% endfor %}

            </div>

            <div class="section" {% if cv_data_constant.educations|length==0 %}style="display:none" {% endif %}>
                <h2>Education</h2>
                {% for education in cv_data_constant.educations %}
                <h3>{{ education.degree }} - {{ education.fieldOfStudy }}</h3>
                <p>{{ education.institutionName }}, {{ education.city }}: {{ education.startMonth }}/{{
                    education.startYear }} - {{ education.endMonth }}/{{ education.endYear if education.endYear else
                    'Present' }}</p>
                {% endfor %}
            </div>
            <div class="section" {% if cv_data_constant.certificates|length==0 %}style="display:none" {% endif %}>
                <h2>Certificates</h2>
                {% for certificate in cv_data_constant.certificates %}
                <h3>{{ certificate.certificateName }}</h3>
                <p>Issued by: {{ certificate.issuingOrganization }}, {{ certificate.issueMonth }}/{{
                    certificate.issueYear }}</p>
                {% endfor %}
            </div>
            <div class="section" {% if cv_data_constant.projects|length==0 %}style="display:none" {% endif %}>
                <h2>Projects</h2>
                {% for project in cv_data_constant.projects %}
                <h3>{{ project.projectTitle }}</h3>
                <p>{{ project.description }}</p>
                {% endfor %}
            </div>
            <div class="section" {% if cv_data_constant.references|length==0 %}style="display:none" {% endif %}>
                <h2>References</h2>
                {% for reference in cv_data_constant.references %}
                <h3>{{ reference.referenceName }} - {{ reference.referenceTitle }}</h3>
                <p>{{ reference.referenceCompany }}, Contact: {{ reference.contactInformation }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <!-- Added button for PDF Download functionality -->
        <button type="button" id="toPDF">Download with html2pdf</button>
    </div>
    <script>
        const pdf_btn = document.querySelector('#toPDF');
        const container = document.querySelector('#container');

        const toPDF = function (container) {
            const new_window = window.open('', '_blank');
            new_window.document.write(`
                <html>
                <head>
                    <title>ATS Friendly CV</title>
                    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cv.css')}}">
                </head>
                <body>
                    <div class="container">
                        ${container.innerHTML}
                    </div>
                </body>
                </html>
            `);

            setTimeout(() => {
                new_window.print();
                new_window.close();
            }, 400);
        };

        pdf_btn.onclick = () => {
            toPDF(container);
        };
    </script>
</body>

</html>
